*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

body{
    background-color: #F9FAFC;
}

.wrapper{
    width: 100%;
    margin: auto;
    position: relative;
    height: 200vh;
}

aside{
   width: 20%;
   height: 150vh;
   /* position: fixed; */
   left: 0;
   top: 0;
   background-color: #111827;
   padding: 24px 16px;
   position: sticky;
}

header{
  width: 80%;
  height: 64px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.control-block{
    width: 248px;
    height: 72px;
    background-color: #1c263a;
    border-radius: 8px;
    padding-top: 15px;
    margin-top: 28px;
    color: white;
}

.all{
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    /* margin-top: 20px; */
}

.hrline{
    width: 112%;
    margin-top: 10px;
    margin-left: -15px;
    height: 1px;
    margin-bottom: 25px;
}

.item{
    width: 248px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 15px;
}

.item:hover{
    background-color: #1c2538;
}

.item:nth-child(1){
    background-color: #1c2538;
}

.punkts{
    margin-bottom: 270px;
}

/* .green-text{
    color: #10B981 !important;
} */
.right-item-text p{
    margin-left: 10px;
    /* color: #10B981; */
    font-weight: 500;
    color: rgb(203, 194, 194);
}

.foot-aside-text{
    font-weight: 400;
    color: white;
}

.text{
    color: gray;
}

.foot-aside-block img{
    margin-left: 25px;
}

.aside-btn{
    width: 248px;
    height: 40px;
    border-radius: 16px;
    background-color: #10B981;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HEADER */


.left-header{
    display: flex;
    padding: 15px;
    position: relative;
}

.left-header input{
    width: 600px;
    height: 64px;
    position: absolute;
    top: 0;
    left: 50px;
    font-size: 18px;
    padding-left: 5px;
    background-color: transparent;
    border: none;
    outline: none;
}

.right-header{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 26px;
}

/* main */

main{
    width: 80%;
    position: absolute;
    right: 0;
    top: 64px;
    padding: 64px 24px;
    display: none;
}

.main-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.right-main-top{
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.import, .export{
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customers-btn{
    width: 146px;
    height: 40px;
    border-radius: 8px;
    color: white;
    border: none;
    background-color: #5048E5;
}

.main-second-block{
    width: 100%;
    height: 120px;
    background-color: white;
    padding: 35px 35px;
    position: relative;
    margin-bottom: 32px;
}

.main-second-block input{
    width: 400px;
    height: 50px;  
    padding-left: 40px;
    font-size: 18px;
    opacity: 50%;
}

.main-second-block img{
    position: absolute;
    top: 45px;
    left: 40px;
}

.main-orders{
    width: 100%;
    height: 620px;
    background-color: white;
    position: relative;
}

.main-orders-top{
    width: 100%;
    height: 81px;
    background-color: white;
    padding: 32px 24px;
}

.txt{
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-orders-two{
    height: 50px;
    background-color: #F3F4F6;
    padding-top: 15px;
}

.table{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 25px;
}

.location{
    width:85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 25px;
}

.main-top-order-block{
    width: 87%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin-left: 25px; */
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
}

.registration-block{
    position: absolute;
    right: -200px;
}

.line{
    width: 100%;
}

.left-slider{
    display: flex;
    align-items: center;
}

.slider-block{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 15px;
}

.right-center{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer{
    width: 80%;
    position: absolute;
    bottom: 0px;
    right: 0;
    height: 200px;
    /* background-color: red; */
    padding-top: 30px;
    padding-left: 25px;
}

.line{
    width: 98%;
    margin-bottom: 10px;
    opacity: 50%;
    /* margin-left: 25px; */
}

.footer-text{
    margin-bottom: 25px;
}

.footer-txt{
    opacity: 50%;
}


/* modal-background */

.modal-background{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 50%);
    display: none;
    opacity: 0;
}

.modal-window{
    width: 600px;
    height: 420px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.1);
    display: none;
    opacity: 0;
    border-radius: 8px;
}

.add-cust{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
}

.adding{
    width: 400px;
    height: 50px;
    margin-bottom: 15px;
    margin-left: 15%;
    padding-left: 10px;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
}

.adding-btn{
    width: 400px;
    height: 50px;
    border-radius: 5px;
    background-color: #5048E5;
    color: white;
    font-size: 18px;
    border: none;
    outline: none;
    margin-left: 15%;
}

.minus{
    position: absolute;
    right: 0;
}


/* DASHBOARD PAGE */

.dashboard-main{
    width: 80%;
    position: absolute;
    right: 0;
    top: 74px;
    /* display: none; */
}

.dashboard-main-top{
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-auto-rows: 160px;
    gap: 32px;
    justify-content: center;
}

.item-dashboard{
    background-color: white;
}

.item-dashboard-top{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    margin-top: 10px;
}

.div{
    margin-top: 10px;
}

.item-dashboard-top p{
    color: #6B7280;
}
.item-dashboard-top h1{
    font-weight: 500;
}

.cursor{
    cursor: pointer;
}

.percent{
    color: red;
}

.percent-txt{
    color: #6B7280;
}

.item-dashboard-bottom{
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 28px;
}

.first-line{
    width: 120px;
    background-color: #5048E5;
    height: 4px;
    margin-left: 12%;
}

.item-dashboard-bottom-two{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.second-line{
    width: 70px;
    background-color: #7973e8;
    height: 4px;
}

.dashboard-main-center{
    width: 97.5%;
    display: flex;
    padding-left: 28px;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.dashboard-main-left{
    width: 74.3%;
    height: 500px;
    background-color: white;
}

.dashboard-main-right{
    width: 22.8%;
    height: 500px;
    background-color: white;
}

.dashboard-main-left-top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard-main-left-top h2{
    font-weight: 400;
}

.dashboard-main-right-bottom{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 10px;
}

.desktop{
    margin-left: 12px;
}

.dashboard-main-right-bottom-two{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
}

.donut-text{
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.donut-line{
    opacity: 50%;
}

.pre-footer{
    width: 97.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.left-pre-footer{
    width: 22.8%;
    background-color: white;
    height: 450px;
    margin-left: 27px;
}

.right-pre-footer{
    width: 70.3%;
    background-color: white;
    height: 450px;
}

.products{
    margin: 5px 10px;
    margin-bottom: 20px;
}

.container{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 30px;
}

.left-cont{
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.update-txt{
    opacity: 50%;
    font-weight: 400;
}

.prd{
    margin: 15px 20px;
}

.right-pre-footer-top{
    width: 100%;
    margin-top: 10px;
    height: 50px;
    background-color: #F3F4F6;
}

.table-pre-footer{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
    margin-bottom: 5px;
}



.mix{
    display: flex;
    align-items: center;
}

.pending{
    width: 74px;
    height: 24px;
    border-radius: 16px;
    color: white;
    padding-top: 2px;
    padding-left: 2px;
}

.pending:nth-child(1){
    background-color: #FFB020;
}
.pnd2{
    background-color: #14B8A6 !important;
    width: 84px;
}
.pnd3{
    background-color: #D14343 !important;
    width: 84px;
    padding-left: 7px;
}
.pending:nth-child(4){
    background-color: #FFB020;
}
.pnd5{
    background-color: #14B8A6 !important;
    width: 84px;
    padding-left: 7px;
    
}
.pnd5{
    background-color: #14B8A6 !important;
    width: 84px;
    padding-left: 7px;
    
}
.container2{
    width: 80%;
    position: absolute;
    right: 0;
    top: 64px;
    padding: 64px 24px;
    display: none;
}

.main-top2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid-block{
    display: grid;
    grid-template-columns: repeat(3, 348px);
    grid-auto-rows: 270px;
    gap: 30px;
}

.grid-items{
    border-radius: 8px;
    background-color: white;
}

.dropbox-img{
    margin-left: 45%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.dropbox-text{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.dropbox-txt{
    text-align: center;
    margin-bottom: 50px;
}

.grid-items hr{
    opacity: 50%;
    margin-bottom: 25px;
}

.foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-foot-block, .right-foot-block{
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-foot-block{
    margin-left: 10px;
}

.right-foot-block{
    margin-right: 10px;
}

.new-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.dot1{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #5048E5;
    color: white;
    padding-top: 3px;
    padding-left: 12px;
    font-size: 30px;
}

.dot{
    width: 40px;
    height: 40px;
    padding-top: 3px;
    padding-left: 12px;
    font-size: 30px;    
}

.left-new-foot{
    margin-right: 20px;
}

.right-new-foot{
    margin-left: 10px;
}


/* account-page */

.account-page{
    width: 80%;
    position: absolute;
    right: 0;
    top: 64px;
    padding: 64px 24px;
    display: none;
}

.two-blocks{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-account-block{
    width: 368px;
    height: 294px;
    background-color: white;
    padding-top: 15px;
}

.avatarka-block{
    margin-left: 42%;
}

.some-name{
    text-align: center;
    margin-bottom: 10px;
}

.s1{
    opacity: 50%;
}

.s2{
    margin-bottom: 50px;
}

.btm-link{
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
}

.right-account-block{
    width: 702px;
    height: 400px;
    border-radius: 8px;
    background-color: white;
    margin-left: 10px;
    padding: 10px 15px;
}

.card-txt{
    margin-bottom: 25px;
}

.for-inps{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.account-inp{
    width: 300px;
    height: 50px;
    border: .5px solid grey;
    border-radius: 8px;
    gap: 10px;
    margin-right: 10px; 
    padding-left: 10px;
    font-size: 20px;
}

/* SETTINGS */

.settings-page{
   width: 80%;
   position: absolute;
   right: 0;
   top: 64px;
   padding: 64px 24px;
   display: none;
}

.top-settings-page, .bottom-settings-page{
    width: 100%;
    height: 400px;
    background-color: white;
    padding: 32px 24px;
    position: relative;
    margin-bottom: 25px;
}

.manage-text{
    opacity: 50%;
    margin-bottom: 10px;
}

.settings-line{
    margin-bottom: 20px;
}

.settings-bl{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.nft{
    margin-bottom: 20px;
}

.div-new{
    margin-bottom: 10px;
}

.save{
    width: 73px;
    height: 40px;
    background-color: #5048E5;
    color: white;
    border-radius: 8px;
    position: absolute;
    border: none;
    bottom: 15px;
    right: 15px;
}

.mng{
    margin-bottom: 20px;
}

.line-formrgn{
    margin-bottom: 50px;
}

.long-inp{
    width: 100%;
    height: 50px;
    border: .5px solid grey;
    border-radius: 8px;
    outline: none;
    padding-left: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.last-line{
    margin-top: 25px;
}